* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* header */

header {
  background-color: hsl(191, 79%, 9%);

  color: white;
  font-family: "Josefin Sans", sans-serif;
}

.header-icon-text {
  font-size: 2rem;
  //align-self: baseline;
}

.header-icon img {
  height: 3rem;
}

p {
  font-size: 2rem;
}

header img {
  height: 4rem;
}


.nav-item {
  font-size: 1.4rem;
  cursor: pointer;
}

/* article */

article {
  background-color: hsl(192, 100%, 9%);
  font-family: "Josefin Sans", sans-serif;
  color: white;
}

.main-image {
  max-height: 500px;
}

.main-image img {
  max-height: 100%;
}

.fa-star {
  color: yellow;
}

.single-product-photo {
  cursor: pointer;
}

.product-detail-text p {
  font-size: 1.1rem;
}
label {
  padding: 0.5rem;
  border: 1px solid #dfe6e9;
  border-radius: 3px;
  cursor: pointer;
}

input {
  display: none;
}

input:checked ~ label {
  border: 2px solid white;
  background: white;
  color: black;
}

.wishlist-btn {
  height: 2.5rem;
  width: 4rem;
  border: none;
  border-radius: 2px;
  background-color: #273c75;
  color: white;
}

.cart-btn {
  background: yellow;
  border: none;
  border-radius: 2px;
  color: navy;
  height: 2.5rem;
  width: 6rem;
}

.test {
  border: 2px solid green;
}

.numbers span {
  border: 2px solid white;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.numbers span:hover:not(.numbers span:nth-of-type(2)) {
  background: white;
  color: hsl(192, 100%, 9%);
  cursor: pointer;
}
/* footer */

footer {
  background-color: hsl(191, 79%, 9%);

  color: white;
}

footer img {
  height: 3rem;
}

footer {
  font-family: "Josefin Sans", sans-serif;
}

.footer-list {
  list-style-type: none;
  padding: 0;
}

.footer-list li:not(ul li:first-of-type) {
  cursor: pointer;
}

.footer-list li:first-of-type {
  font-size: 1.2rem;
}

footer ul li:hover:not(ul li:first-of-type),
footer ul li:focus:not(ul li:first-of-type) {
  text-decoration: underline;
  text-underline-position: under;
}

.footer-list li:first-of-type {
  font-weight: bold;
}

@media (max-width: 600px) {
  .mobile-margin {
    margin-bottom: 3rem;
  }
}
